<!doctype html>
<div ng-app="myApp">
    <div ng-controller="myController">
        <br />
        <canvas id="myCanvas" width="800" height="600" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
        <script src="~/LineScripts/LineJS.js"></script>        
    </div>
</div>
